<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <!--- header -->
  <header class="mb-3">
    <nav>
      <ul>
        <h2><a href="{% url 'welcome:welcome' %}">Twitter Clone</a></h2>

        {% if request.user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
        <li><a href=" {% url 'accounts:signup' %}">Sign up</a></a></li>
        <li><a href=" {% url 'accounts:login' %}">Log in</a></a></li>
        {% endif %}

      </ul>
    </nav>
  </header>
  <!-- /header -->

  <!-- main -->
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!-- /main -->
</body>

</html>
